@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Roboto+Slab:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

.oval {
  width: 4.25rem;
  height: 4.25rem;
  margin-right: 1.5rem;
  border-radius: 100% !important;
  border: 5px solid var(--medium-blue);
  border-left-color: #e8e8e8;
  transform: rotate(45deg);
}

.book-panel {
  display: flex;
  justify-content: space-around;
  width: 75rem;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white-one);
}

.percentage-container {
  display: flex;
  align-items: center;
}

.percentage {
  font-family: 'Poppins', serif;
  font-size: 2rem;
  color: var(--black-two);
}

.percentage-complete {
  display: flex;
  flex-direction: column;
  margin-right: 0.75rem;
}

.comments,
.remove,
.edit {
  font-family: 'Poppins', serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--cool-blue);
  margin: 0 0.1rem;
  cursor: pointer;
}

.school-of {
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: 'Poppins', serif;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: normal;
  color: var(--black-two);
}

.title {
  margin: 0.188rem 20.188rem 0 0;
  font-family: 'Poppins', serif;
  width: 100%;
  font-size: 1.375rem;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.dune-padding {
  padding-right: 120px;
}

.author {
  margin: 0.25rem 0 0;
  font-family: 'Poppins', serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--cool-blue);
}

.book-heading {
  margin-bottom: 1.4rem;
}

.completed {
  margin: 0.438rem 4.938rem 0.75rem 0;
  opacity: 0.5;
  font-family: 'Poppins', serif;
  font-size: 0.875rem;
  color: var(--black-two);
}

.update-progress {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  font-family: 'Poppins', serif;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  border-radius: 3px;
  text-align: center;
  color: var(--white-two);
  background-color: var(--azure);
}

.current-chapter {
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: 'Poppins', serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: var(--black-two);
}

.chapter {
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: 'Poppins', serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.actions button:nth-child(n):not(:nth-child(3))::after {
  content: '';
  margin: 0 1.7rem;
  border: solid 1px #e8e8e8;
}

.percentage-container::after {
  content: '';
  height: 4.375rem;
  margin: 1.125rem 0.9rem 0 0.6rem;
  border: solid 1px #e8e8e8;
}

.book-wrapper {
  width: 87.5rem;
  height: 68.563rem;
  margin: 0 2.5rem 4.063rem 0;
  padding: 10px 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: var(--white-two);
}

.addBook-title {
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: 'Poppins', serif;
  font-size: 1.25rem;
  letter-spacing: -0.18px;
  color: #888;
}

.form-container {
  margin-left: 6.25rem;
}

.form-container::before {
  content: '';
  display: block;
  border-top: 1px solid var(--grey-one);
  margin: 2.5rem 6rem 3rem 0;
}

input {
  width: 41.5rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  padding: 0.813rem 0.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  font-family: 'Poppins', serif;
  font-size: 1rem;
  letter-spacing: -0.15px;
  border: solid 1px var(--grey-one);
  background-color: var(--white-one);
  color: var(--very-light-pink);
}

#add-book input,
select,
button {
  display: inline-block;
}

#add-book > div {
  display: flex;
  justify-content: space-between;
  margin-right: 6.3rem;
}

.select-wrapper {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.select-category {
  width: 17.813rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  font-family: 'Poppins', serif;
  font-size: 1rem;
  color: var(--very-light-pink);
  border: solid 1px var(--grey-one);
  padding-right: 4rem;
}

#add-book button {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  font-family: 'Poppins', serif;
  border-radius: 3px;
  background-color: var(--azure);
  color: var(--white-one);
  font-size: 0.813rem;
  letter-spacing: 0.5px;
}
