@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Roboto+Slab:wght@100;300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --white-two: #fafafa;
  --white-one: #fff;
  --color-primary: #0290ff;
  --grey-one: #e8e8e8;
  --grey-two: #f5f6fa;
  --black-two: #121212;
  --medium-blue: #307bbe;
  --cool-blue: #4386bf;
  --black-5: rgba(0, 0, 0, 0.05);
  --azure: #0290ff;
  --very-light-pink: #afadad;
}

button {
  background: none;
  font-family: RobotoSlab, serif;
}

.panel-bg {
  font-family: Montserrat, serif;
  width: 87.5rem;
  height: 5.938rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: var(--white-one);
  display: flex;
  border-bottom: solid 1px var(--grey-one);
  align-items: center;
  justify-content: space-between;
}

.panel-bg h1 {
  color: var(--color-primary);
  margin-right: 2.5rem;
  font-size: 1.875rem;
}

nav a {
  margin-right: 2.5rem;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-container a {
  color: var(--black-two);
  font-size: 0.9rem;
}

.nav-container a:nth-child(odd) {
  color: var(--very-light-pink);
}

.humanIcon {
  font-size: 1rem;
  color: var(--color-primary);
}

.human-container {
  display: flex;
  border-radius: 50%;
  border: 1px solid var(--grey-one);
  width: 2.8rem;
  height: 2.8rem;
  align-items: center;
  justify-content: center;
}

.BookStore-CMS {
  width: 100rem;
  height: 89.625rem;
  padding: 4.313rem 3.75rem 7.688rem 6.25rem;
  background-color: var(--grey-two);
}
