@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
}

.nav-bar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  min-height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  padding-left: 5rem;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
}

.book-link {
  text-decoration: none;
  color: #121212;
  padding-left: 2rem;
  font-family: Poppins, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
}

.categories-link {
  text-decoration: none;
  color: #121212;
  padding-left: 2rem;
  opacity: 0.5;
  font-family: Poppins, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
}

.logo {
  color: #0290ff;
  font-family: Poppins, sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.oval {
  width: 2.813rem;
  margin-right: 1rem;
  height: 2.813rem;
  padding: 0.68rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  position: absolute;
  right: 8%;
}

.user-oval {
  width: 1.063rem;
  height: 1.063rem;
  color: #0290ff;
}

main {
  max-width: 1200px;
  margin: 40px auto;
  position: absolute;
  top: 5%;
  left: 2rem;
}

.book-wrap {
  margin: 2rem 3rem 1rem 2rem;
  border-radius: 5px;
  width: 75rem;
  background-color: #fafafa;
  padding: 1rem;
}

.books {
  margin-bottom: 1rem;
  background-color: rgb(255, 255, 251);
  height: 10.625rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}

.list {
  position: relative;
  right: 1.5rem;
}

.books li {
  list-style: none;
  padding: 5px 4rem;
}

.book-category {
  color: #121212;
  margin-top: 1rem;
  opacity: 0.5;
  font-family: Poppins, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
}

.book-title {
  color: #121212;
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
}

.book-author {
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.chapter-wrap {
  position: absolute;
  left: 75%;
}

.progress-wrap {
  position: absolute;
  left: 50%;
  display: flex;
  padding-right: 3rem;
}

.progress {
  position: relative;
  bottom: 2.5rem;
}

.percentage {
  position: relative;
  bottom: 2.5rem;
}

.left-line2 {
  width: 0.125rem;
  height: 5.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #e8e8e8;
  position: absolute;
  left: 5rem;
  bottom: -0.5rem;
}

.form-wrap {
  width: 100%;
  margin-bottom: 5rem;
}

.form-container {
  width: 100%;
}

.title {
  width: 18rem;
  height: 3.2rem;
  margin-left: 4rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  padding: 1rem;
}

.author {
  width: 18rem;
  height: 3.2rem;
  margin-left: 2rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  padding: 1rem;
}

#category {
  width: 18rem;
  height: 3.2rem;
  margin-left: 2rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  padding: 1rem;
}

.submit {
  margin-left: 3%;
  position: absolute;
  width: 11.5rem;
  height: 3.2rem;
  border-radius: 8px;
  border: 3px solid #0291ff3b;
  background-color: #0290ff;
  color: #fff;
}

.btn {
  color: beige;
  margin-left: 1rem;
  border-radius: 5px;
  padding: 15px;
}

.remove {
  background-color: transparent;
  width: 4.563rem;
  height: 2rem;
  margin-left: 0;
  margin-top: 1rem;
  margin-right: 0.188rem;
  color: #4386bf;
  border: none;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.edit {
  position: relative;
  right: 0.7rem;
}

.progress-bar {
  width: 3.25rem;
  height: 3.25rem;
  margin-right: 1rem;
}

.chapter-info {
  position: relative;
  bottom: 2.6rem;
}

.current-chap {
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
}

.chapterno {
  margin-top: 0.4rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  letter-spacing: -0.4px;
  color: #121212;
  position: relative;
  left: 3.7rem;
}

.update-btn {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
  border: none;
}

.hr {
  position: relative;
  left: 3.5rem;
  width: 72.5rem;
  border: solid 1px #e8e8e8;
}

.add-new-h2 {
  color: #888;
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

select,
input::placeholder {
  color: #c4c4c4;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: -0.15px;
}
